@model MoonGameRev.Web.ViewModels.Game.GameDetailsViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded" alt="@Model.Title">
        </div>
        <div class="col-md-8">
            <h1>@Model.Title</h1>
            <p><strong>Developer:</strong> @Model.Developer</p>
            <p><strong>Publisher:</strong> @Model.Publisher</p>
            <p><strong>Release Date:</strong> @Model.ReleaseDate</p>
            <p><strong>Game Site:</strong> <a href="@Model.GameSite" target="_blank">@Model.GameSite</a></p>
            <p><strong>Genres:</strong> @string.Join(", ", Model.Genres)</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <a href="@Url.Action("AddReview", "Review", new { gameId = Model.Id })" class="btn btn-primary">Add Review</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            @if (Model.AverageRating > 0)
            {
                <h1><strong>Rating:</strong> <a href="@Url.Action("RatingInformation", "Game")">@Model.AverageRating</a> - @Model.RatingCategory</h1>
            }
            else
            {
                <h1>Rating:No reviews yet</h1>
            }
            
            <h2>Reviews</h2>
            @if (!Model.Reviews.Any())
            {
                    <p>No reviews yet</p>
            }
            else
            {
                    <div class="list-group">
                    @foreach (var review in Model.Reviews)
                    {
                                <div class="list-group-item">
                                    <h5 class="mb-1">@review.UserName</h5>
                                    <p class="mb-1"><strong>Rating:</strong> @review.Rating</p>
                                    <p class="mb-1"><strong>Comment:</strong> @review.Comment</p>
                                    <small>@review.ReviewDate</small>
                                </div>
                    }
                    </div>
            }
        </div>
    </div>
</div>
