@model AllNewsQueryModel

@{
    ViewBag.Title = "News";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">

            <div class="form-group">
                <label asp-for="NewsPerPage"></label>
                <select asp-for="NewsPerPage" class="form-control">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="...">
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalNews /
        Model.NewsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="News"
           asp-action="All"
           asp-route-NewsPerPage="@Model.NewsPerPage"
           asp-route-currentPage="@previousPage"
           asp-route-SearchString="@Model.SearchString"><<</a>
    </div>

    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage || !Model.News.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary 
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="News"
           asp-action="All"
           asp-route-NewsPerPage="@Model.NewsPerPage"
           asp-route-CurrentPage="@(Model.CurrentPage + 1)"
           asp-route-SearchString="@Model.SearchString">>></a>
    </div>
</div>

@if (!Model.News.Any())
{
        <h2 class="text-center">No news found by the given criteria!</h2>
}

<div class="row">
    @foreach (var house in Model.News)
    {
            <partial name="_NewsPartial" model="@house" />
    }
</div>