@model GameAllViewModel

<style>
    /* Define the styles for the normal and enlarged game images */
    .card-img-top {
        transition: transform 0.3s ease;
    }

    .card-img-top:hover {
        transform: scale(1.1); /* Enlarge the image on hover */
    }
</style>

<div class="col-md-4 mb-4">
    <div class="card">
        <a href="@Url.Action("Details", "Game", new { id = Model.Id })">
            <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Title">
        </a>
        <div class="card-body">
            <h5 class="card-title">
                <a href="@Url.Action("Details", "Game", new { id = Model.Id })">@Model.Title</a>
            </h5>
            <p class="card-text">Rating: @Math.Round(Model.Rating, 1)</p>
        </div>
    </div>
</div>