@model NewsAllViewModel

<link rel="stylesheet" href="~/css/MyCss.css" />

<div class="col-md-4 mb-4">
    <div class="card position-relative">
        <a href="@Url.Action("Details", "News", new { id = Model.Id })">
            <img src="@Model.PictureUrl" class="card-img-top" alt="@Model.Title">
            <div class="news-overlay">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Date</p>
            </div>
        </a>
    </div>
</div>


