@model MoonGameRev.Web.ViewModels.Home.IndexViewModel

<link rel="stylesheet" href="~/css/MyCss.css" />

<div class="container mt-5">
    <h2>Latest News</h2>
    <div class="row">
        @foreach (var news in ViewData["LatestNews"] as IEnumerable<MoonGameRev.Web.ViewModels.Home.IndexViewModel>)
        {
            <div class="col-md-4 position-relative">
                <a href="@Url.Action("Details", "News", new { id = news.NewsID })">
                    <img class="d-block w-100 news-image" src="@news.NewsImage" alt="@news.NewsTitle">
                    <div class="news-overlay">
                        <h5>@news.NewsTitle</h5>
                    </div>
                </a>
            </div>
        }
    </div>
    <a href="/News/All" class="btn btn-primary mt-3">See all</a>
</div>


<div class="container mt-5">
    <h2>Upcoming Games</h2>
    <div class="row">
        @foreach (var game in ViewData["UpcomingGames"] as IEnumerable<MoonGameRev.Web.ViewModels.Home.IndexViewModel>)
        {
                    <div class="col-md-2">
                        <a href="@Url.Action("Details", "Game", new { id = game.Id })">
                            <img class="d-block w-100 game-image" src="@game.ImageUrl" alt="@game.Title">
                            <div class="text-center">
                                <h5>@game.Title</h5>
                            </div>
                        </a>
                    </div>
        }
    </div>
    <a href="/Game/UpcomingGames" class="btn btn-primary mt-3">See all</a>
</div>


<div class="container mt-5">
    <h2>Trending Games</h2>
    <div class="row">
        @foreach (var game in ViewData["TrendingGames"] as IEnumerable<MoonGameRev.Web.ViewModels.Home.IndexViewModel>)
        {
                <div class="col-md-2">
                    <a href="@Url.Action("Details", "Game", new { id = game.Id })">
                        <img class="d-block w-100 game-image" src="@game.ImageUrl" alt="@game.Title">
                        <div class="text-center">
                            <h5>@game.Title</h5>
                        </div>
                    </a>
                </div>
        }
    </div>
    <a href="/Game/All" class="btn btn-primary mt-3">See all</a>
</div>



<!---------------->
<div class="mb-5"></div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Top 10 Users by Reviews</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Total Reviews</th>
                </tr>
            </thead>
            <tbody id="ranking_table_body">
                <!-- User ranking -->
            </tbody>
        </table>
    </div>
</div>

<div class="mb-5"></div>

@section Scripts
{
        <script>
            $(document).ready(function () {
                // Fetch and display ranking data on page load
                $.get('https://localhost:7027/api/ranking', function (data) {
                    $('#ranking_table_body').empty(); // Clear existing table rows
                    data.forEach(function(user) {
                        $('#ranking_table_body').append(
                            '<tr>' +
                                '<td>' + user.userName + '</td>' +
                                '<td>' + user.totalReviews + '</td>' +
                            '</tr>'
                        );
                    });
                });
            });
        </script>
}